@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.container {
  margin-top: 60px;

  @include respond-above("sm") {
  }
  @include respond-above("md") {
    margin-top: 70px;
  }
  @include respond-above("lg") {
    margin-top: 90px;
  }
  @include respond-above("xl") {
    margin-top: 120px;
  }
}
