@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include respond-above("sm") {
    gap: 40px;
  }
  @include respond-above("md") {
    gap: 60px;
  }
  @include respond-above("lg") {
    gap: 70px;
  }
  @include respond-above("xl") {
    gap: 80px;
  }
}
