@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.img {
  display: none;

  @include respond-above("sm") {
  }
  @include respond-above("md") {
    display: block;
    width: 125px;
    height: 125px;
  }
  @include respond-above("lg") {
    width: 150px;
    height: 150px;
  }
  @include respond-above("xl") {
    width: 200px;
    height: 200px;
  }
}
