@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.link {
  color: white;
  padding: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  
  &:hover {
    background-color: grey;
  }

  @include respond-above("sm") {
  }
  @include respond-above("md") {
  }
  @include respond-above("lg") {
  }
  @include respond-above("xl") {
  }
}
