@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.container {
  flex: 1;
  overflow-y: auto;

  .inner {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;

    @include respond-above("sm") {
    }
    @include respond-above("md") {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 800px) {
      width: 700px;
    }
    @include respond-above("lg") {
    }
    @include respond-above("xl") {
      margin-bottom: 40px;
    }
  }
}
