@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.link {
  text-decoration: none;
  color: #258ddb;
  font-size: 12px;

  &:hover {
    text-decoration: underline;
  }

  @include respond-above("sm") {
    font-size: 13px;
  }
  @include respond-above("md") {
    font-size: 14px;
  }
  @include respond-above("lg") {
    font-size: 15px;
  }
  @include respond-above("xl") {
    font-size: 16px;
  }
}
