@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

@mixin bracket() {
  color: #212121;
  font-weight: 600;
  font-size: 14px;

  @include respond-above("sm") {
    font-size: 15.5px;
  }
  @include respond-above("md") {
    font-size: 17px;
  }
  @include respond-above("lg") {
    font-size: 18.5px;
  }
  @include respond-above("xl") {
    font-size: 20px;
  }
}

.bracket {
  @include bracket();
}

.circumstance {
  @include bracket();
  color: rgba(212, 76, 71, 1);
}

.reason {
  @include bracket();
  color: #448361;
}

.process {
  @include bracket();
  color: #337ea9;
}

.blogLink {
  @include bracket();
  color: #9f6b53;
}
