@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include respond-above("sm") {
  }
  @include respond-above("md") {
  }
  @include respond-above("lg") {
    width: 50%;
    height: 100%;
    gap: 40px;
    margin-top: 0;
  }
  @include respond-above("xl") {
  }
}
