@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.inner {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-above("sm") {
  }
  @include respond-above("md") {
  }
  @include respond-above("lg") {
  }
  @include respond-above("xl") {
    width: 1200px;
  }
}
