@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.modalDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;

  @include respond-above("sm") {
  }
  @include respond-above("md") {
    gap: 30px;
    margin-top: 30px;
  }
  @include respond-above("lg") {
  }
  @include respond-above("xl") {
    gap: 40px;
    margin-top: 40px;
  }
}
