@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.container {
  padding-top: 60px;
  display: flex;
  flex-direction: column;

  @include respond-above("sm") {
  }
  @include respond-above("md") {
    padding-top: 70px;
  }
  @include respond-above("lg") {
    padding-top: 90px;
  }
  @include respond-above("xl") {
    padding-top: 120px;
  }
}
