@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.myInfoTitle {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
  font-family: "Pretendard Variable";

  @include respond-above("sm") {
    font-size: 24px;
  }
  @include respond-above("md") {
    font-size: 30px;
  }
  @include respond-above("lg") {
    font-size: 36px;
  }
  @include respond-above("xl") {
  }
}
