@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.aboutMeText {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  line-height: 150%;
  margin-bottom: 30px;

  @include respond-above("sm") {
    font-size: 22px;
  }
  @include respond-above("md") {
    font-size: 26px;
  }
  @include respond-above("lg") {
    font-size: 30px;
  }
  @include respond-above("xl") {
    font-size: 36px;
  }
}
