@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.myInfoDetail {
  padding-top: 30px;
  line-height: 180%;
  text-align: center;
  font-size: 12.5px;

  @include respond-above("sm") {
    font-size: 14px;
  }
  @include respond-above("md") {
    font-size: 16px;
    padding-top: 40px;
  }
  @include respond-above("lg") {
    font-size: 20px;
    padding-top: 60px;
  }
  @include respond-above("xl") {
    padding-top: 90px;
    font-size: 24px;
  }
}
