@import "/src/styles/breakpoints";
@import "/src/styles/mixins";

.myInfoDetail {
  padding-top: 30px;
  line-height: 180%;
  text-align: center;
  font-size: 16px;
  font-family: "Pretendard Variable";

  @include respond-above("sm") {
    font-size: 18px;
  }
  @include respond-above("md") {
    font-size: 20px;
    padding-top: 40px;
  }
  @include respond-above("lg") {
    font-size: 24px;
    padding-top: 60px;
  }
  @include respond-above("xl") {
    padding-top: 90px;
  }
}
